<div class="section header">
	<div class="container">
		<img src="{{ "/assets/img/translogo.webp" | relative_url }}">
		<h3 class="section-heading">{{ page.title }}</h3>
		<p class="section-description">
			{{ page.description }}
		</p>
		<div class="links">
            <a href="mailto:lopezlmarcelo@gmail.com"><i class="far fa-paper-plane" style="font-size:18px"></i></a>
			<a href="sms:+13479127485"><i class="fas fa-mobile-alt" style="font-size:18px"></i></a>
        </div>
		<div id="navbar-wrapper">
			<div id="navbar" class="close">
				<a onclick="menuExpand()"><img id="brand" class="hide" src="{{ "/assets/img/translogo.webp" | relative_url }}"></a>
				{% assign mypages = site.pages | where: "type", "parent" | sort: "order" %}
				{% for page in mypages %}
				<a class="button" href="{{ page.url | relative_url }}">{{ page.title }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>